/* style.css */

/* Styles for the home section */
.home-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  /* Styles for the clock container */
  .clock-container {
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  /* Styles for the content section */
  .content-section {
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  /* Add more styles based on your design */
  